<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SampleUpdate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WidgetSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA40838E1EB8BDF2009A2228</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA4083A21EB8BDF2009A2228</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA4083AD1EB8BDF2009A2228</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA4083C31EB8BECE009A2228</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
